.header-logo {
    height: 160px;
    padding: 0;
}


.search-bar {
    border: 1px solid black;
    height: 35px;
    width: 200px;
}

.add-entry-container,
.search-container {
    padding-top: 10px;
    display: inline-block;
}

.add-entry-container {
    margin-left: 84.5%;
}

button {
    height: 35px;
    width: 160px;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

.table-container {
    padding-right: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

table,
th,
td {
    border: 1px solid black;
    padding: 1rem;
}

.table-container {
    max-width: 100%;
    padding-top: 10px;
    overflow-x: scroll;
}